# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# SAM build
.aws-sam/

# Env & secrets
.env
env.json

# AWS credentials (QUAN TRỌNG)
.aws/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Python Virtual Environment
.venv/
venv/
env/

# AI Agents 
.agents/
.claude/
.codex/
Learning_Notes/